
<!-- 
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	<bean id="mapService" class="org.geoserver.mapServer.WebMapService">

	</bean>
	<bean id="mapServiceDescriptor" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="mapServer"/>
		<constructor-arg index="1" ref="mapService"/>
		<constructor-arg index="2" value="1.0.0"/>
		<constructor-arg index="3">
			<list>
				<value>WebTile</value>
			</list>
		</constructor-arg>
	</bean>
	<!-- http url mapping -->
	<bean id="mapServerURLMapping"
		class="org.geoserver.ows.OWSHandlerMapping">
		<constructor-arg ref="catalog"/>
		<property name="alwaysUseFullPath" value="true"/>
		<property name="mappings">
			<props>
				<prop key="/mapServer">dispatcher</prop>
				<prop key="/mapServer/*">dispatcher</prop>
			</props>
		</property>
	</bean>

	<bean id="webMapKvpReader"
		  class="org.geoserver.mapServer.WebMapKvpReader">

	</bean>
<!--
	<bean id="webTileResponse"
		  class="org.geoserver.mapServer.WebTileResponse">
		<constructor-arg value="org.geoserver.mapServer.WebTileResponse"/>
		<constructor-arg ref="geoServer"/>
	</bean>-->
</beans>
